<footer class="footer">
  <div class="container">
    <a href="/" class="footer__link">
      <div class="footer__items">
        <div class="footer__item">
          <div class="footer__divisor {{#if (eq activePage 'home')}}footer__divisor--active{{else}}footer__divisor--inactive{{/if}}"></div>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
            <path d="M5 22.5001H19C19.5304 22.5001 20.0391 22.2893 20.4142 21.9143C20.7893 21.5392 21 21.0305 21 20.5001V11.5001C21.0008 11.3685 20.9755 11.238 20.9258 11.1162C20.876 10.9943 20.8027 10.8835 20.71 10.7901L12.71 2.79006C12.5226 2.60381 12.2692 2.49927 12.005 2.49927C11.7408 2.49927 11.4874 2.60381 11.3 2.79006L3.3 10.7901C3.20551 10.8827 3.13034 10.9931 3.07885 11.115C3.02735 11.2369 3.00055 11.3678 3 11.5001V20.5001C3 21.0305 3.21071 21.5392 3.58579 21.9143C3.96086 22.2893 4.46957 22.5001 5 22.5001ZM10 20.5001V15.5001H14V20.5001H10ZM5 11.9101L12 4.91006L19 11.9101V20.5001H16V15.5001C16 14.9696 15.7893 14.4609 15.4142 14.0858C15.0391 13.7108 14.5304 13.5001 14 13.5001H10C9.46957 13.5001 8.96086 13.7108 8.58579 14.0858C8.21071 14.4609 8 14.9696 8 15.5001V20.5001H5V11.9101Z" fill="{{#if (eq activePage 'home')}}#FF4545{{else}}#555555{{/if}}"/>
          </svg>
          <p style="{{#if (eq activePage 'home')}}color: #FF4545{{else}}color: #555555{{/if}}">Início</p>
        </div>
    </a>
      <div class="footer__item" id="info">
        <div class="footer__divisor {{#if (eq activePage 'info')}}footer__divisor--active{{/if}}"></div>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
          <path d="M12 2.05664C6.486 2.05664 2 6.54264 2 12.0566C2 17.5706 6.486 22.0566 12 22.0566C17.514 22.0566 22 17.5706 22 12.0566C22 6.54264 17.514 2.05664 12 2.05664ZM12 20.0566C7.589 20.0566 4 16.4676 4 12.0566C4 7.64564 7.589 4.05664 12 4.05664C16.411 4.05664 20 7.64564 20 12.0566C20 16.4676 16.411 20.0566 12 20.0566Z" fill="{{#if (eq activePage 'info')}}#FF4545{{else}}#555555{{/if}}"/>
          <path d="M11 11.0566H13V17.0566H11V11.0566ZM11 7.05664H13V9.05664H11V7.05664Z" fill="{{#if (eq activePage 'info')}}#FF7238{{else}}#555555{{/if}}" />
        </svg>
        <p style="{{#if (eq activePage '#info')}}color: #FF4545{{else}}color: #555555{{/if}}">Info</p>
      </div>
      <a href="/sacola" class="footer__link">
        <div class="footer__item">
          <div class="footer__divisor {{#if (eq activePage 'sacola')}}footer__divisor--active{{/if}}"></div>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
            <path d="M5 22.5H19C20.103 22.5 21 21.603 21 20.5V9.5C21 9.23478 20.8946 8.98043 20.7071 8.79289C20.5196 8.60536 20.2652 8.5 20 8.5H17V7.5C17 4.743 14.757 2.5 12 2.5C9.243 2.5 7 4.743 7 7.5V8.5H4C3.73478 8.5 3.48043 8.60536 3.29289 8.79289C3.10536 8.98043 3 9.23478 3 9.5V20.5C3 21.603 3.897 22.5 5 22.5ZM9 7.5C9 5.846 10.346 4.5 12 4.5C13.654 4.5 15 5.846 15 7.5V8.5H9V7.5ZM5 10.5H7V12.5H9V10.5H15V12.5H17V10.5H19L19.002 20.5H5V10.5Z" fill="{{#if (eq activePage 'sacola')}}#FF4545{{else}}#555555{{/if}}" />
          </svg>
          <p style="{{#if (eq activePage 'sacola')}}color: #FF4545{{else}}color: #555555{{/if}}">Sacola</p>
        </div>
      </a>
      <a href="/conta" class="footer__link">
        <div class="footer__item">
          <div class="footer__divisor {{#if (eq activePage 'conta')}}footer__divisor--active{{/if}}"></div>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
            <path d="M12 2.5C11.0111 2.5 10.0444 2.79324 9.22215 3.34265C8.3999 3.89206 7.75904 4.67295 7.3806 5.58658C7.00216 6.50021 6.90315 7.50555 7.09607 8.47545C7.289 9.44536 7.7652 10.3363 8.46447 11.0355C9.16373 11.7348 10.0546 12.211 11.0245 12.4039C11.9945 12.5969 12.9998 12.4978 13.9134 12.1194C14.827 11.741 15.6079 11.1001 16.1573 10.2779C16.7068 9.45561 17 8.48891 17 7.5C17 6.17392 16.4732 4.90215 15.5355 3.96447C14.5979 3.02678 13.3261 2.5 12 2.5ZM12 10.5C11.4067 10.5 10.8266 10.3241 10.3333 9.99441C9.83994 9.66476 9.45542 9.19623 9.22836 8.64805C9.0013 8.09987 8.94189 7.49667 9.05764 6.91473C9.1734 6.33279 9.45912 5.79824 9.87868 5.37868C10.2982 4.95912 10.8328 4.6734 11.4147 4.55764C11.9967 4.44189 12.5999 4.5013 13.1481 4.72836C13.6962 4.95542 14.1648 5.33994 14.4944 5.83329C14.8241 6.32664 15 6.90666 15 7.5C15 8.29565 14.6839 9.05871 14.1213 9.62132C13.5587 10.1839 12.7956 10.5 12 10.5ZM21 21.5V20.5C21 18.6435 20.2625 16.863 18.9497 15.5503C17.637 14.2375 15.8565 13.5 14 13.5H10C8.14348 13.5 6.36301 14.2375 5.05025 15.5503C3.7375 16.863 3 18.6435 3 20.5V21.5H5V20.5C5 19.1739 5.52678 17.9021 6.46447 16.9645C7.40215 16.0268 8.67392 15.5 10 15.5H14C15.3261 15.5 16.5979 16.0268 17.5355 16.9645C18.4732 17.9021 19 19.1739 19 20.5V21.5H21Z" fill="{{#if (eq activePage 'conta')}}#FF4545{{else}}#555555{{/if}}"/>
          </svg>
          <p style="{{#if (eq activePage 'conta')}}color: #FF4545{{else}}color: #555555{{/if}}">Conta</p>
        </div>
      </a>
    </div>
  </div>
</footer>